{% load static %} {% block sidebar %} 
{% if user.is_authenticated %}
    

<div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="#" target="_blank">
        <img src="{% static '/assets/img/apple-icon.png' %}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Tu credito</span>
    </a>
</div>
<hr class="horizontal dark mt-0">
<div class="collapse navbar-collapse  w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
        <li class="nav-item">   
            <a class="nav-link" href="{% url 'home' %}">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Inicio</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-toggle="collapse" aria-expanded="false" href="#banks" aria-controls="recepciones" role="button" >
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-single-copy-04 text-primary text-sm opacity-10"></i>
                </div>
                <span class="sidenav-mini-icon"> U </span>
                <span class="sidenav-normal">Bancos <b class="caret"></b></span>
            </a>
            <div class="collapse collapse-vertical" id="banks">
                <ul class="nav ms-4">
                    <li class="nav-item">
                        <a href="{% url 'banks:bank-create' %}" class="nav-link">Crear Banco</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'banks:bank-type-create' %}" class="nav-link">Crear Tipo de Banco</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'banks:bank-list' %}" class="nav-link">Lista de Bancos</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" aria-expanded="false" href="#clients">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-box-2 text-primary text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Clientes</span>
            </a>
            <div class="collapse collapse-vertical" id="clients">
                <ul class="nav ms-4">
                    <li class="nav-item">
                        <a href="{% url 'clients:client-create' %}" class="nav-link">Crear Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'clients:client-type-create' %}" class="nav-link">Crear Tipo de Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'clients:client-list' %}" class="nav-link">Lista de Clientes</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" aria-expanded="false" href="#reportes">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="ni ni-chart-bar-32 text-primary text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Creditos</span>
            </a>
            <div class="collapse collapse-vertical" id="reportes">
                <ul class="nav ms-4">
                    <li class="nav-item">
                        <a href="{% url 'credits:credit-create' %}" class="nav-link">Crear Creditos</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'credits:credit-type-create' %}" class="nav-link">Crear Tipo de Credito</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'credits:credit-list' %}" class="nav-link">Lista de Creditos</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'logout' %}">
                <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="fa fa-sign-out-alt text-primary text-sm opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Cerrar Sesión</span>
            </a>
        </li>
    </ul>
</div>
{% endif %}{% endblock %}